.favoritosContainer {
  // display: flex;
  // align-items: start;
  // justify-content: space-around;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  min-height: 100vh;
  background: url("../assets/rick-sanchez.jpg") no-repeat center top;
  background-size: cover;
  background-attachment: fixed;

  @include sm {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @include md {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
}

.titulo {
  display: flex;
  justify-content: center;
  background: url("../assets/rick-sanchez.jpg") no-repeat center top;
  background-size: cover;
  background-attachment: fixed;

  .neon {
    color: $white;
    font-size: 3em;
    font-weight: 500;
    transition: 1s;
  }

  .neon:hover {
    color: $second-color;
    text-shadow: 0 0 5px $second-color, 0 0 25px $second-color,
      0 0 50px $second-color, 0 0 100px $second-color;
  }
}

.selects {
  display: flex;
  justify-content: center;
  padding: 10px;
  background: url("../assets/rick-sanchez.jpg") no-repeat center top;
  background-size: cover;
  background-attachment: fixed;

  .label {
    color: $white;
    margin: 0 20px;
  }

  @include sm {
    padding: 2px;
  }
}

.select1 {
  border: none;
  border-radius: 5%;
  padding: 0 30px 0 15px;
  color: $white;
  font-size: 16px;
  background-color: $second-color;
  @include sm {
    font-size: 10px;
    padding: 2px;
  }
}

.select1:focus-visible {
  outline: none;
  background-color: $second-color;
}
